In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import chi2_contingency, fisher_exact

In [49]:
def ubah_notasi_ilmiah(value):
    formatted_value = "{:.4f}".format(value) if isinstance(value, float) else value
    return formatted_value
    
def chi_fizz(df_objs,target,data):
    hasil_hitung=[]
    #print(len(df_objs.columns))
    for ik in range(len(df_objs.columns)):
        
        data_tab=pd.crosstab(data[df_objs.columns[ik]],data[target])
          # Data tabel kontingensi (gantilah ini dengan data aktual Anda)

          # Hitung uji chi-square
        statistic, p_value, dof, expected = chi2_contingency(data_tab)
           #print(dof)



          # Periksa kriteria untuk menggunakan uji Fisher's exact
        fizz = False
        chi22=True
        kurang_dari5='5<tidak ada'
        berapa=0
        if dof == 1 and np.any(expected < 5):
            fizz = True




        for i in range(len(expected)):
              for j in range(len(expected[i])):
                  #print(expected[i][j])
                  if expected[i][j] <5:
                    #print('lllllll')
                    kurang_dari5='5< ada'
                    berapa=berapa+1

        kotak_1=1/(len(expected)*len(expected[0]))

        if kotak_1*berapa>0.2:
            chi22=False



          # Tampilkan hasil
          #print("\nChi-Square Test:")
          #print("Chi-Square Statistic:", statistic)
          #print("P-value:", p_value)
          #print("Degrees of Freedom:", dof)
          #print("Expected Values:\n", expected)

          #print('\nIsi data cocok untuk uji Fisher:', fizz)
        fisher_statistic=-99
        fisher_p_value=-99
          # Cek apakah ukuran tabel adalah 2x2 untuk menggunakan uji Fisher's exact
           #print(fizz ,dof)
        if fizz and dof==1:
            chi22=False
            fisher_statistic, fisher_p_value = fisher_exact(data_tab)
            print("Fisher's Exact Test Statistic:", fisher_statistic)
            print("Fisher's Exact Test P-value:", fisher_p_value)

        bb=len(expected)
        rr=len(expected[0])
          #print(rr,bb)
        min_dim = min(bb- 1, rr- 1)

          #print(data_tab)
        n = np.sum(data_tab.values)
          #print(n)
        phi2 = statistic  / n
          #chermer
        ll= np.sqrt(statistic / (n *min_dim))
          #print('cramer',ll,'\n\n\n')
            

        hasil_hitung.append([target,df_objs.columns[ik],'chi2',chi22,statistic,ubah_notasi_ilmiah(p_value), dof,data_tab.shape,n,kurang_dari5,berapa,'cramer',ll,phi2,'fizher',fizz,fisher_statistic, fisher_p_value])

    hasil=pd.DataFrame(hasil_hitung)
    hasil.columns=['target','kolom','uji1','cocok','Statistic','P-value','ddof','ukuran','jumlah data','ada yg kurang','berapa','uji2','hasill','phi','uji3','cocok','fz_statistic','fz_p_value']
    return hasil

In [50]:
df=pd.read_csv('penguins_size.csv')
obj=df.select_dtypes(include='O')
obj['sex'].unique()

array(['MALE', 'FEMALE', nan, '.'], dtype=object)

In [51]:
obj=obj.replace('.', np.nan).dropna()
obj['sex'].unique()

array(['MALE', 'FEMALE'], dtype=object)

In [54]:
analis_obj=obj.drop(columns=['sex'])

In [55]:
chi_fizz(analis_obj,'sex',obj)

,target,kolom,uji1,cocok,Statistic,P-value,ddof,ukuran,jumlah data,ada yg kurang,berapa,uji2,hasill,phi,uji3,cocok,fz_statistic,fz_p_value
0,sex,species,chi2,True,0.029793,0.9852,2,"(3, 2)",286,5<tidak ada,0,cramer,0.010206,0.000104,fizher,False,-99,-99
1,sex,island,chi2,True,0.000000,1.0000,1,"(2, 2)",286,5<tidak ada,0,cramer,0.000000,0.000000,fizher,False,-99,-99

In [56]:
obj=obj[obj['island']!='Torgersen']
chi_fizz(analis_obj,'sex',obj)

,target,kolom,uji1,cocok,Statistic,P-value,ddof,ukuran,jumlah data,ada yg kurang,berapa,uji2,hasill,phi,uji3,cocok,fz_statistic,fz_p_value
0,sex,species,chi2,True,0.029793,0.9852,2,"(3, 2)",286,5<tidak ada,0,cramer,0.010206,0.000104,fizher,False,-99,-99
1,sex,island,chi2,True,0.000000,1.0000,1,"(2, 2)",286,5<tidak ada,0,cramer,0.000000,0.000000,fizher,False,-99,-99